.navbar-brand {
    font-family: 'Pushster', cursive;
  
}
.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
nav{
    box-shadow: 0 0 30px rgb(230, 75, 4);
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


.carousel-inner{
    width: auto-size;
    height: auto-size;
    margin: auto-size;
    padding: 100px;
    font-family: 'Pushster', cursive ;
    box-shadow: 0 0 30px rgb(197, 113, 98);
}

#accordion {
    width: auto;
    height: auto-size;
    margin: auto-size;
    padding: 100px;
    font-family: 'PT Sans Narrow', sans-serif;

}